footer
{
    display: flex;
    justify-content: space-around;   
    padding-top: 8px; 
}

footer a
{
    text-decoration: none;
    color: black;
}

main
{
    height: 810px;
    overflow-y: scroll;
}

header .logo
{
    height: 50px;
    border-radius: 4px;
}

header
{
    display: flex;
    margin-bottom: 8px;
}

header h1
{
    margin: 0px;
    align-content: center;
    width: 100%;
    text-align: center;
    padding-right: 50px;
}

.outlinedicon
{
    stroke: #000000;
    stroke-width: 1.2px;
    fill-opacity: 0;
}